<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">
<head>
<meta charset="UTF-8" />
<title>Pesquisa Títulos</title>
</head>

<section layout:fragment="conteudo">
	<div layout:include="MessageGeral"></div>
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="clearfix">
				<h2 class="panel-title search-titulo-panel">Pesquisa de Titulos</h2>
				<a class="btn btn-link new-link-panel" th:href="@{/titulos/novo}">Novo Titulo</a>
			</div>
		</div>


		<div class="panel-body">
		
			<form method="GET" class="form-horizontal" th:action="@{/titulos}" th:object="${filtro}">
				<div class="form-group">
					<div class="col-sm-4">
						<div class="input-group">
							<input class="form-control" placeholder="titulos por titulo"
							autofocus="autofocus" th:field="*{descricao}"/>
							<span class="input-group-btn">
								<button type="submit" class="btn btn-default">
								<i class="glyphicon glyphicon-search"></i>
								
								</button>
							
							</span>
						
						</div>
					
					</div>
				
				</div>
			</form>
			<div class="table-responsive">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="text-center col-md-1">#</th>
							<th>Descrição</th>
							<th class="text-center col-md-2">Data Vencimento</th>
							<th class="text-right col-md-2">Valor</th>
							<th class="text-center col-md-2">Status</th>
							<th class="text-center col-md-2">Ações</th>
						</tr>
					</thead>
	
					<tbody>
					
						<tr th:each="titulo : ${list}">
							<td class="text-center" th:text="${titulo.codigo}"> </td>
							<td th:text="${titulo.descricao}"> </td>
							<td class="text-center" th:text="${{titulo.dataVencimento}}"> </td>
							<td class="text-right" th:text="|R$ ${{titulo.valor}}|"> </td>
							<td class="text-center" th:attr="data-role=${titulo.codigo}">
								<span class="label" th:text="${titulo.status.descricao}"
									th:classappend="${titulo.pendente ? 'label-danger' : 'label-success'}">
								</span>
							</td>
							
							<td class="text-center" >
								<a class="btn btn-link btn-xs" th:href="@{/titulos/{codigo}(codigo=${titulo.codigo})}" 
									title="Editar" rel="tooltip" data:placement="top">
									<span class="glyphicon glyphicon-pencil"></span>
								</a>					
								
								<a class="btn btn-link btn-xs" data-toggle="modal" data-target="#confirmacaoExclusaoModal"
		   								th:attr="data-codigo=${titulo.codigo}, data-descricao=${titulo.descricao}"
		   								title="Excluir" rel="tooltip" data:placement="top">
		   							<span class="glyphicon glyphicon-remove"></span>
								</a>
								
								<a class="btn btn-link btn-xs js-atualizar-status" th:if="${titulo.pendente}"
									 title="Receber" rel="tooltip" data:placement="top"
									 th:attr="data-codigo=${titulo.codigo}"
									 th:href="@{/titulos/{codigo}/receber(codigo=${titulo.codigo})}">
		   							<span class="glyphicon glyphicon-check"></span>
								</a>
		
	
							</td>
						
						</tr>
										
						<tr>
							<td colspan="6" th:if="${#lists.isEmpty(list)}">Sem Resultados</td>
						</tr>
					</tbody>
				</table>
				
				<div class="content-fluid pagina" th:if="${not #lists.isEmpty(list)}">
				
					<ul th:fragment="pagination" class="pagination">
					    <li th:class="${list.number eq 0}?'disabled':''">
					        <a th:if="${list.number eq 0}" href="javascript:void(0)" aria-label='Previous'><span aria-hidden='true'>&laquo;</span></a>
					        <a th:unless="${list.number eq 0}" th:href="@{__${#httpServletRequest.requestURI}__(page=${list.number-1})}"  aria-label='Previous'><span aria-hidden='true'>&laquo;</span></a>					   	    
					    </li>
					
					    <li th:each="no:${#numbers.sequence(0, list.totalPages-1)}" th:class="${list.number eq no}?'active':''">
					        <a th:href="@{__${#httpServletRequest.requestURI}__(page=${no})}" th:inline="text">[[${no+1}]]</a>
					        
					    </li>
					    <li th:class="${list.number+1 ge list.totalPages}?'disabled':''">
					        <a th:if="${list.number+1 ge list.totalPages}" href="javascript:void(0)"   aria-label='Next'><span aria-hidden='true'>&raquo;</span></a>
					        <a th:unless="${list.number+1 ge list.totalPages}" th:href="@{__${#httpServletRequest.requestURI}__(page=${list.number+1})}"  aria-label='Next'><span aria-hidden='true'>&raquo;</span></a>
					    	
					    
					    </li>
					</ul>
				</div >
			</div>
		</div>
		
		<div layout:include="DialogExclusao"></div>
	</div>
</section>
</html>